body {
    font-family: Arial, sans-serif;
  }
  
  #quiz {
    max-width: 500px;
    margin: 0 auto;
    padding: 40px;
    background-color: #66ebf0;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(198, 222, 60, 0.2);
  }
  
  h1 {
    text-align: center;
    color: #333333;
  }
  
  #question {
    margin-bottom: 20px;
  }
  
  #options {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2, 3fr);
  }
  #options button{
    padding: 20px;
  }
  
  button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: rgba(175, 36, 71, 0.2);
    color: #131313;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #8f8d8d;
  }
  
  